# Django environment
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Mengelakkan web shell pengetesan daripada dimuat naik secara tidak sengaja
# (Sangat bahaya kalau kod shell aktif dibiarkan di GitHub awam)
secure_app_project/uploads/shell.html
secure_app_project/uploads/shell_qVdk4j3.html

# Persekitaran Maya (Virtual Environment)
venv/
.env
